* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html a {
  text-decoration: none;
  color: inherit;
}

body {
  background: linear-gradient(0deg, black, #04619f);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.body {
  position: absolute;
  top: 42%;
  left: 42%;
  width: 380px;
  height: 160px;
  border-radius: 0% 30% 5% 0%;
  background-color: #758AA7;
  box-shadow: inset -15px 3px 10px #71819A;
}

.body .eye {
  position: absolute;
  top: 112px;
  right: 120px;
  width: 15px;
  height: 6px;
  background-color: black;
  border-radius: 5px;
}

.body .eye .pupil {
  position: relative;
  width: 3px;
  top: 2px;
  left: 10px;
  height: 2px;
  background-color: white;
}

.body .tail {
  position: relative;
  right: 200px;
  width: 200px;
  height: 160px;
  background-color: #758AA7;
  border-radius: 0% 0% 0% 100%;
  box-shadow: inset 20px 0px 10px #71819A;
}

.body .fin-container {
  height: 4vmin;
  width: 7vmin;
  border-radius: 0 0 4vmin 0;
  position: absolute;
  left: 95px;
  bottom: 10px;
  overflow: hidden;
}

.body .fin-container .fin {
  background-color: #9DA6B5;
  height: 4vmin;
  width: 8vmin;
  transform-origin: 100% 100%;
  transform: rotate(15deg);
}

.body .flipper {
  position: relative;
  right: 325px;
  bottom: 170px;
  width: 135px;
  height: 65px;
  background-color: #687B96;
  transform: rotate(-40deg);
  border-radius: 0px 20vmin 0px 20vmin;
}

.body .flipper::after {
  content: "";
  position: absolute;
  top: 24px;
  right: 6px;
  width: 135px;
  height: 65px;
  background-color: #758AA7;
  border-radius: 0px 20vmin 0px 20vmin;
  transform: rotate(-20deg);
}

.accessories .tophat-hat {
  position: absolute;
  top: 353px;
  right: 882px;
  width: 30px;
  height: 35px;
  background-color: black;
}

.accessories .tophat-strap {
  position: absolute;
  top: 383px;
  right: 882px;
  width: 30px;
  height: 5px;
  background-color: white;
}

.accessories .tophat-base {
  position: absolute;
  top: 388px;
  right: 874px;
  width: 45px;
  height: 8px;
  background-color: black;
}

.accessories .mustache {
  position: relative;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-right: 9px solid red;
  transform: rotate(10deg);
}

.accessories .mustache:after {
  content: "";
  position: absolute;
  border: 0 solid transparent;
  border-top: 3px solid red;
  border-radius: 20px 0 0 0;
  top: -12px;
  left: -9px;
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
}
