// main: ../main.scss
// -------------------------------------------------
// Description: Contains all variables and mixins.
//              Call from all partials.
// -------------------------------------------------

// -- Palette -- //
$colorWhite: #fff;
$colorBlack: #000;
$colorGrey: #ccc;
